ed-inputs/met3/US-WCr/ED_MET_DRIVER_HEADER
ed-inputs/met3/US-Syv/ED_MET_DRIVER_HEADER
ed-inputs/sites/US-WCr/rtm/1cohort/
ed-inputs/sites/US-Syv/rtm/1cohort/
run-ed/1cohort/
run-ed/multi-cohort/
run-ed/template/ED2IN
run-ed/template/ed_2.1
.DS_Store
._*
.RData
.Rhistory

# redr tests
redr/tests/testthat/edr-testthat-outdir/
redr_*

# Deprecated code
.deprecated/

# Anything starting with .edr
# (Use this is a prefix for EDR runtime directories)
.edr*
edr_prior_sensitivity/
edr_*
edr-*

# System-specific configuration
config.R

# Logs
*.log
*.log.txt
