year patch cohort dbh ht pft den bdead balive lai
2010 1 1 1.25 0 11 0.0025 0 0 -9999
2010 1 2 1.25 0 11 0.0025 0 0 -9999
2010 1 3 6.25 0 11 0.0025 0 0 -9999
2010 1 4 8.75 0 11 0.0025 0 0 -9999
2010 1 5 8.75 0 11 0.0025 0 0 -9999
2010 1 6 8.75 0 11 0.0025 0 0 -9999
2010 1 7 12.5 0 11 0.0025 0 0 -9999
2010 1 8 12.5 0 11 0.0025 0 0 -9999
2010 1 9 12.5 0 11 0.0025 0 0 -9999
2010 1 10 17.5 0 11 0.0025 0 0 -9999
2010 1 11 17.5 0 11 0.0025 0 0 -9999
2010 1 12 17.5 0 11 0.0025 0 0 -9999
2010 1 13 17.5 0 11 0.0025 0 0 -9999
2010 1 14 17.5 0 11 0.0025 0 0 -9999
2010 1 15 22.5 0 11 0.0025 0 0 -9999
2010 1 16 22.5 0 11 0.0025 0 0 -9999
2010 1 17 22.5 0 11 0.0025 0 0 -9999
2010 1 18 27.5 0 11 0.0025 0 0 -9999
2010 1 19 27.5 0 11 0.0025 0 0 -9999
2010 1 20 27.5 0 11 0.0025 0 0 -9999
2010 1 21 32.5 0 11 0.0025 0 0 -9999
2010 1 22 32.5 0 11 0.0025 0 0 -9999
2010 1 23 32.5 0 11 0.0025 0 0 -9999
2010 1 24 22.5 0 10 0.0025 0 0 -9999
2010 1 25 22.5 0 10 0.0025 0 0 -9999
2010 1 26 27.5 0 10 0.0025 0 0 -9999
2010 1 27 1.25 0 10 0.0025 0 0 -9999
2010 1 28 1.25 0 10 0.0025 0 0 -9999
2010 1 29 1.25 0 10 0.0025 0 0 -9999
2010 1 30 1.25 0 10 0.0025 0 0 -9999
2010 1 31 1.25 0 9 0.0025 0 0 -9999
2010 1 32 6.25 0 9 0.0025 0 0 -9999
2010 1 33 27.5 0 11 0.0025 0 0 -9999
2010 1 34 27.5 0 11 0.0025 0 0 -9999
2010 1 35 27.5 0 11 0.0025 0 0 -9999